@using DemoMVC.Models;
@model IEnumerable<DemoMVC.Models.Book>

@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>List</h2>
<div style="margin-bottom:20px; padding-bottom:12px;">
    <span > Search  </span>  
    <input type="text" id="inputId" onkeyup="identitySearchVal()" value=""/>   
    <a href="#" id="refId" class="btn btn-primary">Искать</a>      
    </div>

<div style="margin-bottom:20px; margin-left:250px; padding-bottom:12px;">
    <span> Bucket  </span>    
    <a href="#" id="delete-books" class="btn btn-primary">Корзина</a>
</div>

<div><table border="1" width="500">
    <tr>
        <td colspan="4" align="center" style="font-weight:800">Book Name</td>
    </tr>
       
    @foreach (Book book in Model)
    {
        <tr>
            <td width="300" class="bookClazz" bookId="@book.ID">@book.BookName </td>
            <td width="300" class="bookClazz" bookId="@book.ID">@book.Author </td>
            <td width="300" class="bookClazz" bookId="@book.ID">@book.Price </td>
            <td width="300">@Html.ActionLink("Edit", "EditBook", "Book", new { bookId= book.ID}, null)</td>
          <!--  <td width="300"> @Html.ActionLink("Delete", "DeleteBook", "Book", new { bookId = book.ID }, null)</td>-->
            <td width="300"><a href="#" class="delete-book" bookId="@book.ID">Delete</a></td>
            <td width="300"><input type="button" onclick="addToBucket(this)" bookId="@book.ID" value="AddBucket"/></td>
        </tr>
    }
</table>
    <script>
        document.cookie = "";
        var cookie = "bascket1=";

        function addToBucket(el) {           
            var bookId = $(el).attr('bookId');        
            cookie = cookie + bookId + ",";
            alert(getCookie("bascket1"));
            document.cookie = cookie;
        }
        /*function addToBucket(el) {
            var $cookiesName = "bascket1";
            var bookId = $(el).attr('bookId');
            var previousVal = $.cookie($cookiesName);
            $.cookie($cookiesName, previousVal + bookId + ",");
        }*/
        function setCookie(name, value) {
            document.cookie = name + "=" + escape(value);             
        }
    </script>
    </div>
<div style="margin-top:20px;">
    @Html.ActionLink("Add", "AddBook", "Book", null)
     </div>
    <div style="margin-top:20px;">
   <input type="button" onclick="readCookie()" value="Cookie"/>
</div>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
<script>
    function readCookie() {
        //  var cookie = getCookie("bascket");
        var x = document.cookie;
        alert(x);
    }
    function getCookie(cname) {
        var name = cname + "=";
        var ca = document.cookie.split(';');
        for (var i = 0; i < ca.length; i++) {
            var c = ca[i];
            while (c.charAt(0) == ' ') {
                c = c.substring(1);
            }
            if (c.indexOf(name) == 0) {
                return c.substring(name.length, c.length);
            }
        }
        return "";
    }
    function identitySearchVal() {      
        var path = "/Book/SearchBooks?val=";
        $("#refId").attr("href", path + $("#inputId").val())
    }
    function identitySearchValBucket() {
        var path = "/Book/Bucket?val=";
        $("#BucketRefId").attr("href", path + $("#inputBucket").val())
    }
    function setCookie() {
        document.cookie = $("#inputId").val() + ";" + "path=/";
    }
  /*  $(".bookClazz").click(function(e){
        var bookId=$(this).attr('bookId');
        alert ('Book ID is: ' + bookId)
    })*/
    $(".delete-book").click(function (e) {     
        var Id = $(this).attr('bookId');      
        $.ajax({
            type: "POST",
            url: "/Book/DeleteBook",
            data: { bookId:Id },
            async: true,
            success: function (rezult) {
                switch (rezult) {
                    case '1': {
                        alert("Book has been succesfully deleted!");
                        location.reload();
                    } break;
                    case '2': alert("Book has been not deleted!!"); break;
                    default: alert("bookId is incorrect"); break;
                }
            }
        })
    })
    $("#delete-books").click(function (e) {
        var IDs = getCookie("bascket1");
        console.log(IDs);
        $.ajax({
            type: "POST",
            url: "/Book/DeleteBooks",
            data: { bookIds: IDs },
            async: true,
            success: function (rezult) {
                switch (rezult) {
                    case '1': {
                        alert("Book has been succesfully deleted!");
                        location.reload();
                    } break;
                    case '2': alert("Book has been not deleted!!"); break;
                    default: alert("bookId is incorrect"); break;
                }
            }
        })
    })
    </script>

